<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <title>Welcome to Crowdstar</title>
  </head>
  <body>
    <div class="container">

      <div class="header">
        <h1>Covet Fashion</h1>

        <!-- Star ratings -->
        <div class="ratings">
          <div class="leftratings">
            <h3>iOS App Store</h3>
            <h2>4.5/5 (show ratings)</h2>
            <div class="ratings-ios" style="width: 100%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>

          <div class="rightratings">
            <h3>Google Play Store</h3>
            <h2>4.5/5 (show ratings)</h2>
            <div class="ratings-android" style="width: 100%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>
        </div>
        <!-- end ratings -->

      </div>

      <!-- load image -->
      <div class="">
        <img src="/static/images/covietfashion.jpg" alt="covertfashion">
      </div>
    </div>







  </body>
</html>
