<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/designhomeindex.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="header">
          <h1>Design Home</h1>

        <!-- Star ratings -->
        <div class="ratings">
          <div class="leftratings">
            <h3>iOS App Store</h3>
            <h2>4.5/5 (show ratings)</h2>
            <div class="ratings-ios" style="width: 100%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>

          <div class="rightratings">
            <h3>Google Play Store</h3>
            <h2>4.5/5 (show ratings)</h2>
            <div class="ratings-android" style="width: 100%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>
        </div>
        <!-- end ratings -->
      </div>

      <!-- Design home image -->
      <img src="/static/images/designhome.png" alt="design home">
    </div>
  </body>
</html>
